<div id="analyticsPage" class="flex-1 p-0 hidden">
  <div class="h-full w-full bg-white">
    <div class="h-full w-full">
      <iframe loading="lazy" title="Python Support Statistics BACKUP"
              class="w-full h-full"
              style="min-height: calc(100vh - 4rem);"
              src="https://app.powerbi.com/reportEmbed?reportId=c477ad7d-6b44-46ad-9c62-c9b66d6ac02b&autoAuth=true&ctid=f251f123-c9ce-448e-9277-34bb285911d9"
              frameborder="0" allowFullScreen="true"></iframe>
    </div>
  </div>
</div>