<!-- Analytics Component -->
<div id="analyticsPage" class="flex-1 p-0 hidden">
  <div class="h-full w-full bg-white">
    <div class="h-full w-full">
      <iframe 
        loading="lazy" 
        title="PIS stats BI Report" 
        class="w-full h-full" 
        style="min-height: calc(100vh - 4rem);" 
        src="https://app.powerbi.com/reportEmbed?reportId=37fdb992-9f81-4834-8861-4248a1a68903&autoAuth=true&ctid=f251f123-c9ce-448e-9277-34bb285911d9" 
        frameborder="0" 
        allowFullScreen="true">
      </iframe>
    </div>
  </div>  
</div>